Package: com.lingyongqian.groupsendall
Name: GroupSendAll
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
Version: 0.0.1-26+debug
Installed-Size: 312
