Package: com.lingyongqian.contact
Name: contact
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
