Package: com.lingyongqian.autoflash
Name: AutoFlash
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 516
