Package: com.lingyongqian.mmuiview
Name: MMUIView
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 360
