Package: com.lingyongqian.moreview
Name: MoreView
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 152
