Package: com.lingyongqian.mmheadimageview
Name: MMHeadImageView
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 188
