Package: com.lyq.charactorcount
Name: charactorcount
Depends: mobilesubstrate,firmware(>=8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Add a character count to Notes
Maintainer: xieruxin
Author: xieruxin
Section: Tweaks
Homepage: http://bbs.iosre.com
